<h1> Welcome Back To VetAid! </h1> 

<%= form_tag("/owners/show", method: "get") %>
<label>Name:</label>
<%= text_field_tag :name %>
<br></br>
<label>Password:</label>
<%= text_field_tag :password %>
<br></br>
<%= submit_tag "Sign Up" %>