<h2>Hello <%= current_owner.name %></h2>

<br></br>

<p1>Your Pets:</p1>

<% current_owner.pets.each do |p| %> 
<ul>

<%= link_to "#{p.name}", owner_pet_path(current_owner.id, p.id) %> 

</ul>

<% end %>

<br> </br>

<a><%= link_to "Log A New Pet", new_pet_path %></a> 

<br></br>

<a><%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %></a>
    <input type=submit value='logout'>

<% end %>



