Hello <%= @owner.name %>
<br></br>
<% @owner.pets.each do |p| %> 
<br></br>
<%= link_to "#{p.name}", pet_path(p) %> 
<%end %>
<br> </br>
<a href="/pets/new">Log a new pet</a> 
<br></br>
<%= link_to "Log Out", logout_path %>




