<h1>Hello!</h1>
Pet Owner? <%= link_to "Log In Here", controller: "owners", action: "login" %>  or <%= link_to "Sign Up", new_owner_url %>  
<br></br>
Vet? <%= link_to "Log In Here", doctors_path %> or <%= link_to "Sign Up", new_doctor_url%>
<br></br>
<a href="/pets/new">Log a new pet</a> 
