<h1>Hello And Welcome To Veterinary RX Aid!</h1>
<p1>Pet Owner? <%= link_to "Log In Here", login_path %>  or <%= link_to "Sign Up", new_owner_url %> </p1> 
<br></br>
<p2><%= button_to "Log in with Google", '/auth/google_oauth2'  %></p2>


