<h1>Hello And Welcome To VETRX!</h1>
Pet Owner? <%= link_to "Log In Here", login_path %>  or <%= link_to "Sign Up", new_owner_url %>  
<br></br>
Vet? <%= link_to "Log In Here", doctors_login_path %> or <%= link_to "Sign Up", new_doctor_url%>
<br></br>



